[Unit]
Description=UGREEN Multi-Bay HDD & NVMe LED Controller
Requires=ugreen-led-setup.service
After=ugreen-led-setup.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ugreen-hdd-led.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target